@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@font-face {
  font-family: "deftone_stylusregular";
  src: url("fonts/deftone-webfont.woff2") format("woff2"), url("fonts/deftone-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow-x: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    background: url("./img/press2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .video-background {
    display: none;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
  body {
    background: url("./img/press2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .video-background {
    display: none;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  body {
    background: url("./img/press2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .video-background {
    display: none;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    background: #333;
  }

  .video-background {
    display: block;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  body {
    background: none;
    background-color: #333;
  }

  .video-background {
    display: block;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* NAVIGATION */
.bandLogo img {
  width: 225px;
  height: auto;
  display: block;
  margin: 50px auto 100px auto;
}

.bandLogoW img {
  width: 600px;
  height: auto;
  display: block;
  margin: 70px auto 100px auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.navbar-toggler {
  padding: 0 !important;
  margin: 10px 0 0 10px;
  color: #fff;
}

.navbar-collapse {
  margin-top: 10px;
}

.navbar-nav {
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.navbar-nav .nav-item {
  margin: 10px 0 10px 0;
}
.navbar-nav .nav-item a {
  color: #fff;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  .bandLogo {
    display: none !important;
  }

  .bandLogoW {
    display: block;
    position: fixed;
    top: 5%;
    left: 25%;
  }

  .navbar {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 0;
    text-align: center;
  }

  .navbar-toggler {
    padding: 0 !important;
    margin: 10px 0 0 10px;
  }

  .navbar-collapse {
    margin-top: 10px;
  }

  .navbar-nav {
    width: 100vw;
    text-align: center;
    background-color: transparent;
    justify-content: center;
  }
  .navbar-nav .nav-item {
    margin: 10px;
  }
  .navbar-nav .nav-item a {
    color: #fff;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  /* Styles */
  .bandLogo {
    display: none !important;
    z-index: -1;
  }

  .bandLogoW {
    display: block;
    position: absolute;
    top: 2%;
    left: 35%;
    z-index: -1;
  }

  .navbar {
    position: absolute;
    top: 5%;
    left: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
  }

  .navbar-toggler {
    padding: 0 !important;
    margin: 10px 0 0 10px;
  }

  .navbar-collapse {
    margin-top: 10px;
  }

  .navbar-nav {
    width: 100vw;
    text-align: center;
    background-color: transparent;
    justify-content: center;
  }
  .navbar-nav .nav-item {
    margin: 10px;
  }
  .navbar-nav .nav-item a {
    color: #fff;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@font-face {
  font-family: "deftone_stylusregular";
  src: url("fonts/deftone-webfont.woff2") format("woff2"), url("fonts/deftone-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.front-mark {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 100px;
  line-height: 100px;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.front-mark span {
  border: 2px solid white;
  padding: 5px 10px;
}

.markBanner {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 70%;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.6rem;
  font-family: deftone_stylusregular;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a987+0,efb1ed+16,a3cecd+34,a3cecd+59,efb1ed+80,f2a987+100 */
  background: #f2a987;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f2a987 0%, #efb1ed 16%, #a3cecd 34%, #a3cecd 59%, #efb1ed 80%, #f2a987 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f2a987 0%, #efb1ed 16%, #a3cecd 34%, #a3cecd 59%, #efb1ed 80%, #f2a987 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f2a987 0%, #efb1ed 16%, #a3cecd 34%, #a3cecd 59%, #efb1ed 80%, #f2a987 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f2a987", endColorstr="#f2a987", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.markBanner span {
  border: 2px solid #000;
  padding: 5px 10px;
  margin-right: 10px;
}
.markBanner p {
  line-height: 50px;
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .front-mark {
    background-color: transparent;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 20%;
  }
  .front-mark span {
    border: 2px solid white;
    padding: 5px 10px;
  }

  .markBanner {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 70%;
    right: 20%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-family: deftone_stylusregular;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a987+0,efb1ed+16,a3cecd+34,a3cecd+59,efb1ed+80,f2a987+100 */
    background: transparent;
    /* Old browsers */
  }
  .markBanner span {
    border: 2px solid #fff;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .markBanner p {
    line-height: 50px;
    color: #fff;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1028px) {
  /* Styles */
  .front-mark {
    background-color: transparent;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 1.2rem;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 70%;
    left: 10%;
  }
  .front-mark span {
    border: 2px solid white;
    padding: 5px 10px;
  }

  .markBanner {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 70%;
    right: 10%;
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.2rem;
    font-family: deftone_stylusregular;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2a987+0,efb1ed+16,a3cecd+34,a3cecd+59,efb1ed+80,f2a987+100 */
    background: transparent;
    /* Old browsers */
  }
  .markBanner span {
    border: 2px solid #fff;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .markBanner p {
    line-height: 50px;
    color: #fff;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
/* ABout Page */
.contentRow {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  letter-spacing: 1px;
  line-height: 2;
}

.band-image img {
  display: none;
}

.aboutContent {
  color: #000;
  background-color: #fff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .aboutContent {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #000;
    margin-top: 20px;
    background-color: #fff;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .aboutContent {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #000;
    margin-top: 20px;
    background-color: #fff;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contentRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    letter-spacing: 1px;
    line-height: 2;
  }

  .aboutContent {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    background-color: #333;
  }

  .aboutContainer {
    margin: 0 auto;
  }

  .contentRow {
    width: 95%;
  }

  .bandContainer {
    display: flex;
    flex-direction: column;
  }

  .band-image {
    height: 350px;
    width: 350px;
    overflow: hidden;
  }
  .band-image:first-child {
    margin-top: 35px;
  }
  .band-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .contentRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    letter-spacing: 1px;
    line-height: 2;
  }

  .aboutContent {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    background-color: #333;
  }

  .aboutContainer {
    margin: 50px auto 0 auto;
  }

  .contentRow {
    width: 95%;
  }

  .bandContainer {
    display: flex;
    flex-direction: column;
  }

  .band-image {
    height: 350px;
    width: 350px;
    overflow: hidden;
  }
  .band-image:first-child {
    margin-top: 45px;
  }
  .band-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.tourCont {
  margin-top: 100px;
}

/* Smartphones (portrait and landscape) ----------- */
/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .tourCont {
    margin-top: 100px;
  }

  tr {
    display: flex;
    align-content: center;
  }
  tr .tourVenue {
    flex-grow: 1;
    margin-left: 50px;
  }
  tr .ticketBTN {
    margin-left: 50px;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1024px) {
  .tourCont {
    margin-top: 100px;
  }
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}
@media only screen and (min-width: 992px) {
  tr {
    display: flex;
    align-content: center;
  }
  tr .tourVenue {
    flex-grow: 1;
    margin-left: 50px;
  }
  tr .ticketBTN {
    margin-left: 50px;
  }
}
.modal-full {
  min-width: 100%;
  margin: 0 auto;
}

.modal-full .modal-content {
  min-height: 100vh;
}

.modal-body {
  margin: 0 auto;
}
.modal-body img {
  margin: 50px auto 0 auto;
  width: 500px;
  height: 500px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}

.modal-newsletter .input-group {
  margin: 30px 0 15px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
/* Social Icons */
.mSound {
  color: #ff8800;
}

.mSpotify {
  color: #1db954;
}

.fa-itunes-note {
  color: black;
}

.social {
  display: none;
}

.fa-itunes-note {
  color: #111;
}

@media only screen and (min-width: 992px) {
  .social {
    display: block;
    width: 200px;
    height: 220px;
    position: absolute;
    top: 35%;
    left: 0;
    margin-top: 30px;
    perspective: 1000px;
    z-index: 3;
  }

  .social li a {
    display: block;
    height: 40px;
    width: 40px;
    background: #222;
    border-bottom: 1px solid #333;
    font: normal normal normal 16px/20px "FontAwesome", "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    transition: background 0.5s ease 0.3ms;
  }

  .social li:first-child a:hover {
    background: #3b5998;
  }

  .social li:nth-child(2) a:hover {
    background: #00acee;
  }

  .social li:nth-child(3) a:hover {
    background: #ea4c89;
  }

  .social li:nth-child(4) a:hover {
    background: #ff0000;
  }

  .social li:nth-child(5) a:hover {
    background: #1db954;
  }

  .social li:first-child a {
    border-radius: 0 5px 0 0;
  }

  .social li:last-child a {
    border-radius: 0 0 5px 0;
  }

  .social li a span {
    width: 100px;
    float: left;
    text-align: center;
    background: #222;
    color: #fff;
    margin: -25px 45px;
    padding: 8px;
    transform-origin: 0;
    visibility: hidden;
    opacity: 0;
    transform: rotateY(45deg);
    border-radius: 5px;
    transition: all 0.5s ease 0.3ms;
  }

  .social li span:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 7px;
    border-left: 10px solid transparent;
    border-right: 10px solid #222;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }

  .social li a:hover span {
    visibility: visible;
    opacity: 1;
    transform: rotateY(0);
  }
}
/* Music Player */
:root {
  --color: #faa700;
  --color-light: #f5ede1;
  --dark: #a7a7a7;
  --dark: #8a8a8a;
  --darker: #303030;
  --sans-serif: "Roboto", sans-serif;
}

body {
  font-family: var(--sans-serif);
}

.background {
  width: 100%;
  height: 56.25vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
.background img {
  max-width: 100%;
  max-height: 100vh;
  box-shadow: inset 0px -17vw 30vw 1vw #131313;
}
.background + section {
  margin-top: 60px;
  background: transparent;
  --dark: rgba(255, 255, 255, 0.5);
  --dark: rgba(255, 255, 255, 0.6);
  --darker: rgba(255, 255, 255, 0.8);
}
.background + section .bookmark {
  border-color: #1db954;
}
.background + section .bookmark .fa-arrow-down {
  color: #1db954;
}
.background + section .album-tracks {
  background: rgba(255, 255, 255, 0.1);
  border: none;
}

section {
  background: #fafafa;
  margin: 100px 56px 0 56px;
  padding: 20px 56px;
  color: var(--darker);
  /* color: rgba(255, 255, 255, .8); */
  color: #000;
}
section .album-info:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
section .album-art {
  float: left;
  width: 220px;
  margin-right: 20px;
}
section .album-art * {
  border-radius: 3px;
}
section .album-art img {
  width: 100%;
  margin-bottom: 10px;
  margin-top: -60px;
  box-shadow: 0 5px 60px -3px rgba(0, 0, 0, 0.18);
}
section .play {
  display: flex;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: white;
  font-size: 14px;
  padding: 10px;
  text-transform: uppercase;
  flex: 1 0 50%;
}
section #spotifyBtn {
  background-color: #1db954;
  margin-bottom: 5px;
}
section #soundCloudBtn {
  background-color: #ff8800;
  margin-bottom: 5px;
}
section .bookmark {
  display: flex;
  flex-wrap: initial;
  justify-content: center;
  align-items: center;
  align-content: initial;
  width: 48px;
  height: 48px;
  border: 3px solid var(--color-light);
  margin-left: 10px;
}
section .album-details > * {
  padding: 10px 0;
}
section h2 {
  display: flex;
  flex-wrap: initial;
  justify-content: initial;
  align-items: center;
  align-content: initial;
  /* color: var(--dark); */
  color: #000;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
section h2 img {
  width: 24px;
  border-radius: 50%;
  margin-right: 10px;
}
section h1 {
  font-size: 50px;
  font-weight: 300;
  word-wrap: break-word;
}
section h1 + span {
  /* color: var(--dark); */
  color: #000;
}
section h1 + span span:first-child {
  padding-right: 20px;
}
section p {
  margin-top: 15px;
}
section .album-tracks {
  background: #f8f8f8;
  border: 1px solid #efefef;
  margin-top: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: initial;
  align-content: flex-end;
}

.playOn {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 100%;
}

.playOn li {
  display: inline;
  font-size: 25px;
}

@media (max-width: 800px) {
  section {
    margin: 100px 36px 36px 36px;
  }
}
@media (max-width: 700px) {
  section .album-art {
    width: 100%;
  }
  section .album-art img {
    width: auto;
    max-width: 100%;
    margin: -100px auto 10px auto;
    display: block;
  }
  section .album-details {
    float: left;
    max-width: 100%;
  }
}
@media (max-width: 550px) {
  section {
    margin: 100px 20px 20px 20px;
    padding: 20px 16px;
  }
  section ol {
    padding: 16px;
  }
}
ol {
  list-style-type: none;
  padding: 20px 36px;
  font-weight: 500;
}
ol li {
  counter-increment: number;
  display: flex;
  flex-wrap: initial;
  justify-content: flex-start;
  align-items: center;
  align-content: initial;
  height: 45px;
  /* color: var(--dark); */
  color: #000;
}
ol li i {
  color: #111;
}
ol li span:not(:last-child) {
  margin-right: 2em;
  flex-grow: 2;
  margin-left: 20px;
}
ol li span:first-child {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* color: var(--darker); */
  color: #000;
}
ol li span:first-child:before {
  content: counter(number);
  margin-right: 2em;
  /* color: var(--dark); */
  color: var(--color);
  display: inline-block;
  text-align: end;
  width: 20px;
}

@media (max-width: 700px) {
  ol li span:not(:last-child) {
    margin-right: 1em;
  }
}
@media only screen and (min-width: 992px) {
  .background {
    background: url("./img/musicBG.jpg") center/cover;
    box-shadow: inset 0px -17vw 20vw 1vw #0a1a24;
  }
}
#videoPlay {
  margin: 0 auto;
}

.videoContainer {
  margin-top: 100px;
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#vidtop-content {
  top: 0;
  color: #fff;
}

.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}

.vid-info h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0;
  line-height: 1.2;
}

.vid-info a {
  display: block;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.6s background;
  border-bottom: none;
  margin: 1rem auto;
  text-align: center;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }

  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .video-background {
    display: none;
  }

  .video-foreground {
    display: none;
  }
}
.card {
  background-color: #F8F8F8 !important;
}

.gallery-wrap .img-big-wrap img {
  height: 500px;
  display: inline-block;
}

.gallery-wrap .img-small-wrap .item-gallery {
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  margin: 7px 2px;
  display: inline-block;
  overflow: hidden;
}

.gallery-wrap .img-small-wrap {
  text-align: left;
}

.gallery-wrap .img-small-wrap img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.card {
  height: 100%;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
