
/* ABout Page */

.contentRow {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
  letter-spacing: 1px;
  line-height: 2;
}

.band-image img{
  display: none;
}
.aboutContent  {
  color: #000;
  background-color: #fff;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { 
  .aboutContent  {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #000;
    margin-top: 20px;
    background-color: #fff;
  }
}

@media only screen and (min-device-width : 480px) and (max-device-width : 768px) { 
  .aboutContent  {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #000;
    margin-top: 20px;
    background-color: #fff;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .contentRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    letter-spacing: 1px;
    line-height: 2;
  }
  .aboutContent  {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    background-color: #333;
  }
  
  .aboutContainer {
    margin: 0 auto;
    
  }
  .contentRow {
    width: 95%
  }
  
  .bandContainer {
    display: flex;
    flex-direction: column;
  }
  
  .band-image{
    
    height: 350px;
    width: 350px;
    overflow: hidden;
    &:first-child {
      margin-top: 35px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

@media only screen  and (min-width : 1024px) {
  .contentRow {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
    letter-spacing: 1px;
    line-height: 2;
  }
  .aboutContent  {
    text-align: justify;
    text-justify: inter-word;
    font-size: 20px;
    line-height: 1.7;
    padding: 20px;
    color: #fff;
    margin-top: 20px;
    background-color: #333;
  }
  
  .aboutContainer {
    margin: 50px auto 0 auto;
    
  }
  .contentRow {
    width: 95%
  }
  
  .bandContainer {
    display: flex;
    flex-direction: column;
  }
  
  .band-image{
    
    height: 350px;
    width: 350px;
    overflow: hidden;
    &:first-child {
      margin-top: 45px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

}



